@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');
@import "tailwindcss";

@theme{
    --font-lobster : "Lobster", sans-serif;
    --font-dancing-script : "Dancing Script", "sans-serif";
    --font-parisienne: 'Parisienne', sans-serif;
}